.home-wrap {
  margin: auto;
  max-width: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;
  

  .img-crop {
    
    &__wrap {
      position: relative;
      width: 540px;
      overflow: hidden;
      display: flex;
      align-items: center;
    }
  }



  .text-list {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    list-style: none;
    
    & .text-list-item {
      position: absolute;
      display: flex;
      
      &__input {
        outline: none;
        background-color: transparent;
      }
    }
  }

  .ui.card .image {
    position: relative;
    display: block;
    flex: 0 0 auto;
    padding: 0;
    background: rgba(0,0,0,.05);
    border-radius: .28571429rem .28571429rem 0 0!important;
    border-top: none!important;

    & > img {
      border: none;
      display: block;
      width: 100%;
      height: auto;
      border-radius: inherit;
    }
  }

  .meme-crop {
    display: flex;
    flex-direction: column;
    color: #000;

    &__control-block {
      display: flex;
      align-items: center;
  
      & span {
        color: black;
        margin: 0px 5px;
      }
    }
  
    &__control-line {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      &:last-child {
        margin-top: 10px;
      }

      & label {
        display: flex;
        align-items: center;
    
        & span {
          color: black;
          margin: 0px 5px;
        }
      }
  
      .select-aspect {
        &__wrap {
          width: 95px;
        }
        &__menu {
          z-index: 99;
        }
      }
    }
  }

  .ui.fluid.button.use-previous {
    position: absolute;
    left: 3px;
    top: 2px;
    opacity: 0.2;
    font-size: 10px;
    width: 90px;

    &:hover {
      opacity: 0.8;
    }
  }

  & .ui.input>input {
    padding: 8px 12px;
    margin-bottom: 10px;
  }

  & .tag-wrap {
    display: flex;
    flex-grow: 1;
    align-items: center;

    & .field {
      flex-grow: 1;
    }
  }

  & .tool-control {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    & > svg {
      cursor: pointer;
    }
  }

  & .tool-kits {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & input[type="color"] {
      margin-left: 10px;
    }

    &__text-add {
      cursor: pointer;
    }

    & .select-size {
      &__wrap {
        width: 70px;
        height: 28px;
        color: #000
      }

      &__value-container {
        height: 24px;
      }

      &__indicator {
        padding: 2px;
      }

      &__control {
        min-height: 28px;
        height: 28px;
      }
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      align-items: center;

      & > li {
        cursor: pointer;
        margin: 3px;
        border: solid 2px gray;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
      }

      & > li[data-isactive="true"] {
        border: solid 2px #00b5ad;
      }
    }
  }

  .dropzone-wrapper {
    outline: none;
    cursor: pointer;
    border: solid 3px transparent;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .link-input-wrapper {
    width: 100%;

    & button {
      height: 35px;
    }
  }
}

.suspense {
  position: absolute;
}

.mem-creator__btns-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & button.ui.fluid.button {
    margin: 0;
    &:first-child {
      margin-right: 2px;
    }
    &:last-child {
      margin-left: 2px;
    }
  }


}

.new-mem-responce-modal {
  width: 420px;
  height: auto;

  & .img-crop__wrap {
    cursor: copy;
  }

  & .mem-creator__btns-wrap {
    margin-top: 4px;
  }
}
