.memes-creator {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 9px 3px #00000089;

  &__header, &__control {
    padding: 5px 15px;
    position: relative;
  }

  &__control {
    width: 100%;
    padding: 0;
  }

  &__control-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    .select-aspect {
      &__wrap {
        width: 95px;
      }
      &__menu {
        z-index: 99;
      }
    }
  }

  .range__slider {
    padding: 10px;
  }

  &__control-btns {
    display: flex;
    align-items: center;
    padding: 10px;

    & .button {
      width: 50%;
    }
  }

  &__control-block, & label {
    display: flex;
    align-items: center;

    & span {
      margin: 0px 5px;
    }
  }

  &__close {
    margin-left: auto;
    z-index: 999;
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }

  &__img {
    height: 500px;
    width: 500px;
    position: relative;
    background-color: #000;

    .reactEasyCrop_CropArea {
      // width: 600px !important;
      // height: 600px !important;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
    }
  }
}