.mem-page-wrap {
  max-width: 540px;
  margin: auto;

  .mem-card {
    margin-bottom: 10px;
  }

  .mem-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .memes-list {
    height: calc(100vh - 34px);
  }

  .control-bar {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toggle-wrap {
      display: flex;
      align-items: center;

      .react-toggle {
        margin-right: 10px;
      }
    }

    .ui.fluid.action.input {
      min-width: 300px;
    }
  }
}